<!DOCTYPE html>
<head>
    <title>Tasks & Messages</title>
    <link rel="stylesheet" href="/styles.css"
</head>
<body>
    <ul style="">
        <h1>Tasks</h1>
        <% todos.forEach(function(todo) { %>
            <li>
                <form action="/tasks/<%= todo._id %>/update" method="post" style="display: inline;">
                    <input type="text" name="task" id="task" value="<%- todo.task %>" size="50" style="height:70px; font-weight: 300px; font-size: 1.5rem;" />
                    
                    <button type="submit">Update</button>
                </form>
                <form action="/tasks/<%= todo._id %>/complete" method="post" style="display: inline;">
                    <button type="submit">
                        <%= todo.is_completed ? 'Uncomplete' : 'Complete' %>
                    </button>
                </form>
                <form action="/tasks/<%= todo._id %>/delete" method="post" style="display: inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
            <% }); %>
    </ul>
    <ul >
        <h1>Messages</h1>
        
        <% mesg.forEach(function(mess){ %>
            <li>
                <form action="/mes/<%= mess._id %>/update" method="post" style=="display: flex; flex-direction: column">
                <input type="text" name="mess_t" id="mess_t" value="<%- mess.mess_t %> "  style="font-size:15px; padding: 20px; width: 100%; margin: 10px;"/ />
                <button type="submit">Update</button>
                </form>
                <form action="/mes/<%= mess._id %>/sent" method="post" style="display: inline;">
                <button type="submit">
                    <%= mess.is_sent ? 'Unsend' : 'Send' %>
                </button>
                </form>
                <form action="/mes/<%= mess._id %>/delete" method="post" style="display: inline;">
                <button type="submit">Delete</button>
                </form>
            </li>
        
        <% }); %>
    </ul>
</body>

</html>