<!DOCTYPE html>
<html>

<head>
    <title>To Do App</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>To-Do App</h1>
    <form action="/tasks/" method="post" style="display: flex; align-items: center; margin-bottom: 20px;">
        <input type="text" name="task" id="task" placeholder="Add a new task">
        <button type="submit">Add Task</button>
    </form>

    <h2  className="mx-auto w-1/2">Add Message</h2>

    <form action="/mes/" method="post" style=" text-align: center; display: flex; flex-direction: column; justify-items: center; justify-content: center;" >
        <div style="display: flex; flex-direction: column; align-items: center;">
            <label style= "font-weight: bold; text-transform: uppercase; text-underline-position: under; font-size: 30px;" >Message</label>
            <textarea type="text" rows="4" name="mess_t" id="mess_t" style=" padding: 20px 80px; margin: 10px;" ></textarea>
        </div>
        <button type="submit">Send Message</button>
    </form>
    <ul>
        <% todos.forEach(function(todo) { %>
            <li>
                <form action="/tasks/<%= todo._id %>/update" method="post" style="display: inline;">
                    <input type="text" name="task" id="task" value="<%- todo.task %>" />
                    <button type="submit">Update</button>
                </form>
                <form action="/tasks/<%= todo._id %>/complete" method="post" style="display: inline;">
                    <button type="submit">
                        <%= todo.is_completed ? 'Uncomplete' : 'Complete' %>
                    </button>
                </form>
                <form action="/tasks/<%= todo._id %>/delete" method="post" style="display: inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
            <% }); %>
    </ul>
    <ul>
        <% mess.forEach(function(mes){ %>
            <li>
                <form action="/tasks/<%= mes._id %>/update" method="post" style=="display: inline">
                <input type="text" name="mess_t" id="mess_t" value="<%- mes.mess_t %> " />
                <button type="submit">Send</button>
                </form>
                <form action="/tasks/<%= mes._id %>/Sent "
            </li>
        
        <% }); %>
    </ul>
   
   
</body>

</html>